[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
missingno = "*"
pyjanitor = "*"
feature-engine = "==1.2.0"
pingouin = "==0.5.0"
mkdocs-material = "*"
mkdocs-mermaid2-plugin = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
